<%- include('../include/header.ejs') %>
    <link rel="stylesheet" href="../../stylesheets/admin.css">
    <div id="indexbg" class="mb-5"></div>
    <div id="indexbg_text">
        <h1 class="fs-1">관리자 페이지</h1>
        <div>사용자들을 관리하는 페이지</div>
    </div>
    <div class="container">
        <% for (var key in admin_list) {%>
            <table class="mt-5 table table-hover">
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>소속</th>
                    <th>부서</th>
                    <th>직책</th>
                    <th>생성날짜</th>
                    <th>레벨</th>
                </tr>
                <tr>
                    <td>
                        <%= admin_list[key].userId %>
                    </td>
                    <td>
                        <%= admin_list[key].userName %>
                    </td>
                    <td>
                        <%= admin_list[key].userEmail %>
                    </td>
                    <td>
                        <%= admin_list[key].userBelong %>
                    </td>
                    <td>
                        <%= admin_list[key].userDepartment %>
                    </td>
                    <td>
                        <%= admin_list[key].userPosition %>
                    </td>
                    <td>
                        <%= admin_list[key].createDate %>
                    </td>
                    <td>
                        <%= admin_list[key].role %>
                    </td>
                </tr>
            </table>
            <% }%>
    </div>
    <%- include('../include/footer.ejs') %>