<%- include('../include/header.ejs') %>
    <section>
        <link href="/stylesheets/index.css" rel="stylesheet" />
        <h1 id="info_Header" class="mt-5 text-center">ADMIN 관리 화면</h1>
        <div class="container-fluidp-3 p-5">
            <div class="row">
                <div class="col-2">
                    <%- include('../include/adminNav.ejs') %>
                </div>
                <div id="adminContent" class="col-10" onload="draw()">
                    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
                    <!--<%=recv_data[0].title%>-->
                </div>
            </div>
        </div>
    </section>
    <div class="text-center" style="box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.2);">
        <h3>방문자 수</h3>
        <hr />
        <div>
            <dl>
                <dt>Total</dt>
                <dd>
                    <%=countData[0].totalCount%>
                </dd>
            </dl>
            <dl>
                <dt>Today</dt>
                <dd>
                    <%=countData[0].todayCount%>
                </dd>
            </dl>
        </div>
    </div>
    <%- include('../include/footer.ejs') %>
        <style>
            section {
                background-color: white;
                padding-top: 50px;
                text-align: center;
            }

            canvas {
                background-color: white;
            }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
            integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
            crossorigin="anonymous"></script>
        <script>
            (function () {
                'use strict'
                var mylabel = [];
                var mycound = [];
                console.log(recv_data)
                for (var i = 0; i < 7 && i < recv_data.length; i++) {
                    console.log(db_data)
                    mylabel.push(recv_data[i].write_date);
                    console.log(mylabel)
                    mycound.push(recv_data[i].count);
                    console.log(mycound)
                }

                mylabel.reverse();
                mycound.reverse();

                feather.replace()
                console.log(mylabel)
                // Graphs
                var ctx = document.getElementById('myChart')
                // eslint-disable-next-line no-unused-vars
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: mylabel,
                        datasets: [{
                            data: mycound,
                            lineTension: 0,
                            backgroundColor: 'transparent',
                            borderColor: '#007bff',
                            borderWidth: 4,
                            pointBackgroundColor: '#007bff'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                })
            })()

        </script>