<%- include('../include/header.ejs') %>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 p-3 m-0">
        <% for(var key in admin_list){%>
            <div class="col mb-2">
                <div class="card  border border-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= admin_list[key].userId %>
                        </h5>
                        <p class="card-text">
                            <%= admin_list[key].userName %>
                        </p>

                        <p class="card-text">
                            <%= admin_list[key].userEmail %>
                        </p>

                        <p class="card-text">
                            <%= admin_list[key].userAdd %>
                        </p>
                        <p class="card-text">
                            <%= admin_list[key].role %>
                        </p>
                    </div>
                </div>
            </div>
            <%}%>
    </div>
</div>
<%- include('../include/footer.ejs') %>