<%- include('../../include/header.ejs') %>

    <link rel="stylesheet" href="/stylesheets/board.css" />
    <section>
        <div id="indexbg" class="mb-5"></div>
        <div id="indexbg_text">
            <h1 class="fs-1">공지 사항</h1>
            <div>아직 미완성입니다..!</div>
        </div>
        <div class="container">
            <div class="row">
                <div id="researchDetailContent" class="col-12">
                    <h3 class="mb-5" align=center>
                        Ocean-IT
                    </h3>
                    <article>
                        <table class="table table-responsive-sm text-center" style="box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);">
                            <div class="row">
                                <thead>
                                    <tr>
                                        <th colspan="2" bgcolor="#dbdbdb"><%=detailData[0].title%></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 15%;">작성자</td>
                                        <td colspan="2"><%=detailData[0].user_id%></td>
                                    </tr>
                                    <tr>
                                        <td>작성일</td>
                                        <td colspan="2"><%=dayjs(detailData[0].date).format('YYYY-MM-DD HH:mm:ss');%></td>
                                    </tr>
                                    <tr>
                                        <td>내용</td>
                                        <td colspan="2" style="text-align: left;"><%=detailData[0].content%></td>
                                    </tr>
                                </tbody>
                        </table>
                    </article>
                    <a type="button" class="btn btn-outline-secondary" href="javascript:history.back();">목록</a>
                    <a href="" class="btn btn-outline-secondary">수정</a>
                    <a href="" class="btn btn-outline-secondary">삭제</a>

                </div>
            </div>
    </section>
    <%- include('../../include/footer.ejs') %>