<%- include('../../include/header.ejs') %>

<!-- git test--><!-- git test--><!-- git test--><!-- git test-->
    <link rel="stylesheet" href="/stylesheets/board.css" />
    <section>
        <div id="indexbg" class="mb-5"></div>
        <div id="indexbg_text">
            <h1 class="fs-1">문의 사항</h1>
            <div>아직 미완성 입니다..!</div>
        </div>
        <div class ="container">
            <table class="table table-responsive-sm table-hover text-center">
                <thead>
                    <tr>
                        <th bgcolor="#dbdbdb" scope="col" width="10%">순번</th>
                        <th bgcolor="#dbdbdb" scope="col" width="40%">제목</th>
                        <th bgcolor="#dbdbdb" scope="col" width="30%">작성자</th>
                        <th bgcolor="#dbdbdb" scope="col" width="20%">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<db_data.length;i++){ var data=db_data[i];%>
                        <tr id="board_cursor" onclick="location.href='./inquiryDetail'">
                            <td>
                                <%=data.qid%>
                            </td>
                            <td>
                                <%=data.title%>
                            </td>
                            <td>
                                <%=data.user_id%>
                            </td>
                            <td>
                                <%=dayjs(data.date).format('YYYY-MM-DD');%>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
        <% if(permission.user_id!=undefined){%>
            <div class="mx-auto" style="text-align: right;"><a href="./inquiryWrite" type="button"
                    class="btn-outline-secondary">작성하기</a></div>
            <%}%>
            <div class="text-center">
                <div class="btn-group">
                    <a class="btn btn-outline-secondary" onclick="privX2page()">&lt;&lt;</a>
                    <a class="btn btn-outline-secondary" onclick="privpage()">Priv</a>
                    <a id="pagebtn class=" btn btn-outline-primary aria-current="page" onclick="addpage()">
                    </a>
                    <a class="btn btn-outline-secondary" onclick="nextpage()">Next</a>
                    <a class="btn btn-outline-secondary" onclick="nextX2page()">&gt;&gt;</a>

                </div>
            </div>
    </section>
    <br><br>
    <style></style>
    <script>
        function a(){

        }
    </script>
    <%- include('../../include/footer.ejs') %>